<a href="https://colab.research.google.com/github/Utkarshmishra2k2/Competence-Of-Pandas/blob/main/Pandas%20Library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
Series=pd.Series([0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144])

In [ ]:
print(Series)

0       0
1       1
2       1
3       2
4       3
5       5
6       8
7      13
8      21
9      34
10     55
11     89
12    144
dtype: int64

In [ ]:
Series=pd.Series([0.0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144])   
print(Series)

0       0.0
1       1.0
2       1.0
3       2.0
4       3.0
5       5.0
6       8.0
7      13.0
8      21.0
9      34.0
10     55.0
11     89.0
12    144.0
dtype: float64

In [ ]:
Series.values    
Series.index

RangeIndex(start=0, stop=13, step=1)

In [ ]:
zip?

In [ ]:
for Item in zip(Series.values,Series.index):      
    print(Item)

(0.0, 0)
(1.0, 1)
(1.0, 2)
(2.0, 3)
(3.0, 4)
(5.0, 5)
(8.0, 6)
(13.0, 7)
(21.0, 8)
(34.0, 9)
(55.0, 10)
(89.0, 11)
(144.0, 12)

In [ ]:
Series[10]

55.0

In [ ]:
Series[5:10]

5     5.0
6     8.0
7    13.0
8    21.0
9    34.0
dtype: float64

In [ ]:
Earth=pd.Series([5.9736,12742,40041,5.515],index=["Mass","Diameter","Circumference","Density"])

In [ ]:
Earth

Mass                 5.9736
Diameter         12742.0000
Circumference    40041.0000
Density              5.5150
dtype: float64

In [ ]:
Array17=np.random.randint(25,125,76)   
Array18=np.arange(1,77)

In [ ]:
Array17

array([ 28, 121,  38,  90,  86,  87,  95, 102,  98, 117,  95,  69, 101,
       105,  65,  70,  37,  63,  26, 121, 110, 106,  69,  39,  40,  72,
        36,  61, 120,  38,  25,  96,  27, 121,  81,  84, 108,  75,  80,
        74,  84,  91,  36, 111,  62,  85, 106,  93,  48,  45,  53,  77,
        30,  90,  72,  75,  41, 103,  64, 103,  59, 121,  57, 115,  59,
        92,  92, 123,  77,  57,  96,  48,  55,  55,  80,  78])

In [ ]:
Array18

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76])

In [ ]:
Series01=pd.Series(Array17,index=Array18)    
Series01

1      28
2     121
3      38
4      90
5      86
     ...
72     48
73     55
74     55
75     80
76     78
Length: 76, dtype: int64

In [ ]:
EarthDictionary={
    "Mass" : 5.9736,
    "Diameter": 12742,
    "Circumference": 40041,
    "Density": 5.515
    }

In [ ]:
EarthDictionary

{'Mass': 5.9736, 'Diameter': 12742, 'Circumference': 40041, 'Density': 5.515}

In [ ]:
Series02=pd.Series(EarthDictionary)     
Series02

Mass                 5.9736
Diameter         12742.0000
Circumference    40041.0000
Density              5.5150
dtype: float64

In [ ]:
Series03=pd.Series(EarthDictionary,index=["Mass","Density"])    
Series03

Mass       5.9736
Density    5.5150
dtype: float64

iloc & loc

In [ ]:
Series04=pd.Series([0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144],index=[np.arange(1,14)])

In [ ]:
Series04

1       0
2       1
3       1
4       2
5       3
6       5
7       8
8      13
9      21
10     34
11     55
12     89
13    144
dtype: int64

In [ ]:
Series04.loc[7]

7    8
dtype: int64

In [ ]:
Series04.iloc[7]

13

Simple Operations

In [ ]:
FamilyBirthDate=pd.Series([3,3,14,1],index=["Avinash","Neetu","Utkarsh","Shivansh"])  
FamilyBirthDate

Avinash      3
Neetu        3
Utkarsh     14
Shivansh     1
dtype: int64

In [ ]:
FamilyBirthDate.loc["Utkarsh"]

14

In [ ]:
FamilyBirthDate.iloc[2]

14

In [ ]:
FamilyBirthDate.loc["Neetu":"Shivansh"]

Neetu        3
Utkarsh     14
Shivansh     1
dtype: int64

In [ ]:
FamilyBirthDate.iloc[1:3]

Neetu       3
Utkarsh    14
dtype: int64

In [ ]:
FamilyBirthDate<10

Avinash      True
Neetu        True
Utkarsh     False
Shivansh     True
dtype: bool

In [ ]:
FamilyBirthDate[FamilyBirthDate<6]

Avinash     3
Neetu       3
Shivansh    1
dtype: int64

In [ ]:
FamilyBirthDate[(FamilyBirthDate>2) & (FamilyBirthDate<10)]

Avinash    3
Neetu      3
dtype: int64

In [ ]:
((FamilyBirthDate*186)/78)+1412

Avinash     1419.153846
Neetu       1419.153846
Utkarsh     1445.384615
Shivansh    1414.384615
dtype: float64

In [ ]:
np.mean(FamilyBirthDate)

5.25

In [ ]:
np.median(FamilyBirthDate)

3.0

In [ ]:
np.amax(FamilyBirthDate)

14

In [ ]:
np.amin(FamilyBirthDate)

1

In [ ]:
FamilyBirthDate*FamilyBirthDate

Avinash       9
Neetu         9
Utkarsh     196
Shivansh      1
dtype: int64

In [ ]:
HighBirth=FamilyBirthDate[FamilyBirthDate>10]

In [ ]:
FamilyBirthDateTest=HighBirth+FamilyBirthDate    
FamilyBirthDateTest

Avinash      NaN
Neetu        NaN
Shivansh     NaN
Utkarsh     28.0
dtype: float64

In [ ]:
pd.isnull(FamilyBirthDateTest)

Avinash      True
Neetu        True
Shivansh     True
Utkarsh     False
dtype: bool

In [ ]:
FamilyBirthDateTest[~pd.isnull(FamilyBirthDateTest)]    #Here I Printed The Only That Value Which Has Not Any Null Values
#Here Take Note On "~" Symbols

Utkarsh    28.0
dtype: float64

In [ ]:
FamilyBirthDate["Abhishek"]=29   
FamilyBirthDate

Avinash      3
Neetu        3
Utkarsh     14
Shivansh     1
Abhishek    29
dtype: int64

In [ ]:
FamilyBirthDate.drop(["Abhishek"])

Avinash      3
Neetu        3
Utkarsh     14
Shivansh     1
dtype: int64

Callect The Number Of Diameter Of These Planetes And Strore It AS Series Object.Then Compute The Density

In [ ]:
PlanteMass=pd.Series([0.330,4.87,5.97,0.073,0.642,1898,568,86.8,102,0.0130],index=["MERCURY","VENUS","EARTH","MOON","MARS","JUPITER","SATURN","URANUS","NEPTUNE","PLUTO"])
PlanteDiameter=pd.Series([4879,12104,12756,3475,6792,142984,120536,51118,49528,2376],index=["MERCURY","VENUS","EARTH","MOON","MARS","JUPITER","SATURN","URANUS","NEPTUNE","PLUTO"])

In [ ]:
PlanteMass

MERCURY       0.330
VENUS         4.870
EARTH         5.970
MOON          0.073
MARS          0.642
JUPITER    1898.000
SATURN      568.000
URANUS       86.800
NEPTUNE     102.000
PLUTO         0.013
dtype: float64

In [ ]:
PlanteDiameter

MERCURY      4879
VENUS       12104
EARTH       12756
MOON         3475
MARS         6792
JUPITER    142984
SATURN     120536
URANUS      51118
NEPTUNE     49528
PLUTO        2376
dtype: int64

In [ ]:
PlanteDensity=pd.Series([])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
PlanteDensity

Series([], dtype: float64)

Find Planet Density

In [ ]:
for PlanteList in PlanteMass.index:     
    PlanteDensity[PlanteList]=PlanteMass[PlanteList]/(np.pi*PlanteDiameter[PlanteList]*PlanteDiameter[PlanteList]*PlanteDiameter[PlanteList]/6)

In [ ]:
PlanteDensity

MERCURY    5.426538e-12
VENUS      5.244977e-12
EARTH      5.493286e-12
MOON       3.322460e-12
MARS       3.913302e-12
JUPITER    1.240039e-12
SATURN     6.194402e-13
URANUS     1.241079e-12
NEPTUNE    1.603427e-12
PLUTO      1.850996e-12
dtype: float64

In [ ]:
#Here I'm Doing By Panda's Method
PlanteDensity = PlanteMass / (np.pi * np.power(PlanteDiameter,3) / 6)

In [ ]:
PlanteMass["UtkarshPlan"]=45

In [ ]:
#Here I'm Doing By Panda's Method
PlanteDensity = PlanteMass / (np.pi * np.power(PlanteDiameter,3) / 6)      #Here I Entered The Formula By Using NumPy's Library (i.e np.pi,np.power)
PlanteDensity

EARTH          5.493286e-12
JUPITER        1.240039e-12
MARS           3.913302e-12
MERCURY        5.426538e-12
MOON           3.322460e-12
NEPTUNE        1.603427e-12
PLUTO          1.850996e-12
SATURN         6.194402e-13
URANUS         1.241079e-12
UtkarshPlan             NaN
VENUS          5.244977e-12
dtype: float64

Given This Planet Density Serirs Replace All Valuse NaN's with The Mean Desity

In [ ]:
#Here I Doing By Iterative Way
PlanteDensityMean=np.mean(PlanteDensity)   
for Elements in PlanteDensity.index:      
    if pd.isnull(PlanteDensity[Elements]):     
        PlanteDensity[Elements]=PlanteDensityMean   


PlanteDensity

EARTH          5.493286e-12
JUPITER        1.240039e-12
MARS           3.913302e-12
MERCURY        5.426538e-12
MOON           3.322460e-12
NEPTUNE        1.603427e-12
PLUTO          1.850996e-12
SATURN         6.194402e-13
URANUS         1.241079e-12
UtkarshPlan    2.995554e-12
VENUS          5.244977e-12
dtype: float64

In [ ]:
#Here I'm Doing By Panda's
PlanteDensity[pd.isnull(PlanteDensity)]

Series([], dtype: float64)

In [ ]:
PlanteDensity[pd.isnull(PlanteDensity)]=np.mean(PlanteDensity)

In [ ]:
PlanteDensity

EARTH          5.493286e-12
JUPITER        1.240039e-12
MARS           3.913302e-12
MERCURY        5.426538e-12
MOON           3.322460e-12
NEPTUNE        1.603427e-12
PLUTO          1.850996e-12
SATURN         6.194402e-13
URANUS         1.241079e-12
UtkarshPlan    2.995554e-12
VENUS          5.244977e-12
dtype: float64

Series Vs Dictionary-
- Check If Some Key Is Prsent
- Summing Values
- Computing Standard Deviation

In [ ]:
Dictionary01={} 
N=10000
for D in range(N):  
    Dictionary01[D]=D%12

In [ ]:
Series05=pd.Series(Dictionary01)

In [ ]:
M=1102545

In [ ]:
Array19=np.random.randint(0,N,M)

Magic Command's

In [ ]:
%%time?

In [ ]:
%%timeit?

In [ ]:
%%timeit
for Items in Array19:  
    Items in Dictionary01

619 ms ± 271 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
for Item in Array19:      
    Item in Series05

2.73 s ± 364 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
sum(Dictionary01.values())

112 µs ± 975 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
%%timeit
np.sum(Series05)

60.1 µs ± 1.21 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Case Study(Gold)

In [ ]:
FileGold=pd.read_csv("https://raw.githubusercontent.com/UM1412/Data-Set/main/Pandas01-Gold.csv",index_col=0).iloc[:,0]

In [ ]:
FileGold

Date
31-01-2000     436.803799
29-02-2000     461.251271
31-03-2000     440.281956
28-04-2000     430.542352
31-05-2000     426.822702
                 ...
30-07-2021    4751.369280
31-08-2021    4668.087952
30-09-2021    4613.220134
29-10-2021    4699.733953
30-11-2021    4782.726122
Name: Price, Length: 263, dtype: float64

In [ ]:
FileGold.head(30)

Date
31-01-2000    436.803799
29-02-2000    461.251271
31-03-2000    440.281956
28-04-2000    430.542352
31-05-2000    426.822702
30-06-2000    450.327184
31-07-2000    444.751562
31-08-2000    442.241782
29-09-2000    442.966828
31-10-2000    441.319357
30-11-2000    438.876114
29-12-2000    447.650216
31-01-2001    435.714863
28-02-2001    429.688231
30-03-2001    432.471134
30-04-2001    429.476185
31-05-2001    450.720824
29-06-2001    447.944070
31-07-2001    444.767735
31-08-2001    452.752482
28-09-2001    476.254989
31-10-2001    479.361897
30-11-2001    467.527364
31-12-2001    465.798910
31-01-2002    479.603690
28-02-2002    507.185143
29-03-2002    505.312672
30-04-2002    522.033979
31-05-2002    543.226452
28-06-2002    554.307289
Name: Price, dtype: float64

In [ ]:
FileGold.tail(30)

Date
28-06-2019    3328.189488
31-07-2019    3427.557932
30-08-2019    3759.307081
30-09-2019    3804.978663
31-10-2019    3746.351086
29-11-2019    3706.261010
31-12-2019    3704.791284
31-01-2020    3924.584490
28-02-2020    4028.273994
31-03-2020    4182.518746
30-04-2020    4522.639126
29-05-2020    4580.651433
30-06-2020    4628.437278
31-07-2020    4874.176261
31-08-2020    5186.027076
30-09-2020    4984.190610
30-10-2020    4925.715984
30-11-2020    4882.848378
31-12-2020    4822.395086
29-01-2021    4814.221884
26-02-2021    4642.647719
31-03-2021    4412.343315
30-04-2021    4633.739050
31-05-2021    4784.721290
30-06-2021    4759.513064
30-07-2021    4751.369280
31-08-2021    4668.087952
30-09-2021    4613.220134
29-10-2021    4699.733953
30-11-2021    4782.726122
Name: Price, dtype: float64

In [ ]:
np.mean(FileGold)

2079.638672951331

In [ ]:
np.median(FileGold)

2175.026844

In [ ]:
np.std(FileGold)

1304.1722252053971

In [ ]:
np.var(FileGold)

1700865.1929971972

What Fraction Of Days did The Gold Close Higher Than The Previous Days

In [ ]:
 np.sum((FileGold.values[1:]-FileGold.values[:-1])>0)/len(FileGold)

0.5703422053231939




1.   Compute Moving Average Of Last 4 Days
2.   Subset The data To Include Only Data For Mondays

In [ ]:
pd.Timestamp?

In [ ]:
pd.Timestamp(FileGold.index[0])

Timestamp('2000-01-31 00:00:00')

In [ ]:
NewIndex=map(pd.Timestamp,FileGold.index)

In [ ]:
FileGold01=pd.Series(FileGold,index=NewIndex)

In [ ]:
FileGold01

2000-01-31   NaN
2000-02-29   NaN
2000-03-31   NaN
2000-04-28   NaN
2000-05-31   NaN
              ..
2021-07-30   NaN
2021-08-31   NaN
2021-09-30   NaN
2021-10-29   NaN
2021-11-30   NaN
Name: Price, Length: 263, dtype: float64

In [ ]:
FileGold01.rolling("1d").mean()

2000-01-31   NaN
2000-02-29   NaN
2000-03-31   NaN
2000-04-28   NaN
2000-05-31   NaN
              ..
2021-07-30   NaN
2021-08-31   NaN
2021-09-30   NaN
2021-10-29   NaN
2021-11-30   NaN
Name: Price, Length: 263, dtype: float64

Data Frame Object

In [ ]:
Array20=np.random.randint(78,778,(5,5))   
Array20

array([[196, 179, 104, 178, 357],
       [672, 721, 587, 139, 776],
       [703, 537, 689, 533, 348],
       [722, 217, 217, 217, 724],
       [499, 647, 518, 265, 184]])

In [ ]:
df01=pd.DataFrame(Array20)       
df01

     0    1    2    3    4
0  196  179  104  178  357
1  672  721  587  139  776
2  703  537  689  533  348
3  722  217  217  217  724
4  499  647  518  265  184

In [ ]:
df01.values

array([[196, 179, 104, 178, 357],
       [672, 721, 587, 139, 776],
       [703, 537, 689, 533, 348],
       [722, 217, 217, 217, 724],
       [499, 647, 518, 265, 184]])

In [ ]:
df01.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df01.columns

RangeIndex(start=0, stop=5, step=1)

In [ ]:

for R in df01.index:  
    print (R)

0
1
2
3
4

In [ ]:
#Here I Can Access Columns Number
for R in df01.columns:   
    print (R)

0
1
2
3
4

In [ ]:
df01.index=["R01","R02","R03","R04","R05"]       
df01.columns=["C01","C02","C03","C04","C05"]

In [ ]:
df01

     C01  C02  C03  C04  C05
R01  196  179  104  178  357
R02  672  721  587  139  776
R03  703  537  689  533  348
R04  722  217  217  217  724
R05  499  647  518  265  184

In [ ]:
df01.loc["R02":"R04","C02":"C05"]

     C02  C03  C04  C05
R02  721  587  139  776
R03  537  689  533  348
R04  217  217  217  724

In [ ]:
type(df01.loc["R02":"R04","C02":"C05"])

pandas.core.frame.DataFrame

In [ ]:
df01.iloc[1:4,1:5]

     C02  C03  C04  C05
R02  721  587  139  776
R03  537  689  533  348
R04  217  217  217  724

In [ ]:
df01.loc[:,"C04"]

R01    178
R02    139
R03    533
R04    217
R05    265
Name: C04, dtype: int64

In [ ]:
df01.iloc[3,:]

C01    722
C02    217
C03    217
C04    217
C05    724
Name: R04, dtype: int64

In [ ]:
type(df01.iloc[3,:])

pandas.core.series.Series

In [ ]:
df01.shape,df01.size

((5, 5), 25)

In [ ]:
df0101=df01.T  
df0101

     R01  R02  R03  R04  R05
C01  196  672  703  722  499
C02  179  721  537  217  647
C03  104  587  689  217  518
C04  178  139  533  217  265
C05  357  776  348  724  184

In [ ]:
df0101.shape,df0101.size

((5, 5), 25)

Create Data Frame

In [ ]:
def df02(a=0,b=150,nrows=3,mcols=3):                  
    Array21=np.random.randint(a,b,(nrows,mcols))       
    df02=pd.DataFrame(Array21)                        
    df02.index=["R"+str(x) for x in np.arange(1,nrows+1)] 
    df02.columns=["C"+str(x) for x in np.arange(1,mcols+1)] 
    return df02

In [ ]:
df02(55,65,58,99)

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C90,C91,C92,C93,C94,C95,C96,C97,C98,C99
R1,57,57,64,62,64,62,57,57,55,57,...,57,63,63,64,61,57,62,62,62,63
R2,63,61,60,60,55,58,64,57,62,57,...,62,58,61,57,57,60,56,61,56,62
R3,63,57,63,64,58,64,64,62,62,62,...,63,62,55,62,55,63,55,56,64,60
R4,60,56,60,57,62,58,59,60,62,57,...,63,57,60,64,61,63,61,55,59,63
R5,60,64,60,63,58,60,62,58,59,60,...,56,60,61,58,61,58,61,62,55,64
R6,56,55,58,62,63,58,58,63,55,63,...,64,63,56,55,62,61,58,63,62,59
R7,58,55,57,64,62,61,55,56,55,64,...,58,58,57,64,56,60,60,60,56,64
R8,59,61,64,60,56,59,60,58,64,56,...,60,59,56,57,55,56,63,61,56,58
R9,56,59,56,56,56,62,58,58,63,58,...,55,62,63,64,64,62,55,56,60,62
R10,63,56,56,64,61,56,56,58,61,63,...,57,60,56,62,57,60,58,61,57,57
R11,64,59,59,57,62,62,60,59,61,63,...,55,64,61,64,63,57,62,56,61,63
R12,57,60,55,62,57,55,60,56,61,57,...,56,64,60,63,55,58,57,61,57,55
R13,61,56,64,61,62,61,59,58,62,60,...,55,57,57,61,55,56,60,58,57,64
R14,61,63,55,58,59,60,56,62,64,64,...,60,61,60,60,64,59,62,58,62,59
R15,55,61,60,56,63,58,64,59,57,55,...,64,59,58,55,55,64,61,64,59,59
R16,58,56,62,62,59,62,60,63,62,56,...,58,57,56,55,58,58,64,62,60,61
R17,58,57,56,59,60,59,61,62,63,62,...,55,56,60,55,59,55,61,64,61,62
R18,63,57,62,56,57,62,64,62,58,56,...,55,60,56,63,57,55,64,63,59,55
R19,57,58,61,56,63,61,58,56,55,61,...,60,62,60,55,55,55,55,55,58,64
R20,59,64,55,56,63,56,57,63,62,64,...,56,57,61,58,55,59,63,56,57,57
R21,58,59,62,62,55,64,61,55,60,62,...,63,58,60,57,63,64,55,64,62,64
R22,60,59,62,58,55,63,60,64,56,59,...,60,58,63,62,55,55,64,57,62,59
R23,63,57,59,55,56,55,57,56,56,58,...,63,60,63,58,56,55,64,62,61,57
R24,57,57,60,56,57,59,57,57,55,57,...,56,55,58,62,59,64,64,58,57,55
R25,61,55,55,57,64,58,59,57,56,60,...,56,63,58,56,56,63,59,57,63,64
R26,60,64,56,58,62,55,58,58,61,56,...,56,64,62,55,58,58,60,58,57,62
R27,62,64,61,62,55,60,59,61,63,63,...,55,64,60,60,60,62,59,61,58,60
R28,60,57,61,61,59,55,60,64,59,60,...,59,57,57,55,55,55,63,63,58,62
R29,58,59,62,55,62,55,62,60,61,62,...,60,58,58,62,58,58,60,57,57,63
R30,56,58,64,59,61,62,61,61,59,63,...,62,64,59,61,63,55,58,60,62,58
R31,60,61,58,59,56,62,64,62,64,60,...,56,58,57,55,62,55,58,55,62,61
R32,55,59,62,58,59,61,58,61,56,57,...,62,60,59,63,63,64,64,55,63,62
R33,59,63,57,63,64,58,64,58,55,58,...,62,60,57,61,58,55,62,64,63,64
R34,57,55,57,55,62,57,60,56,61,55,...,63,55,64,60,64,58,60,57,55,56
R35,59,62,59,59,60,55,61,58,59,64,...,56,62,59,63,61,59,62,64,58,59
R36,58,58,61,60,64,58,55,62,61,58,...,57,55,60,64,61,55,62,59,63,59
R37,63,63,64,57,60,63,55,62,63,62,...,56,59,61,62,61,63,61,59,57,57
R38,62,60,59,57,60,61,61,57,57,57,...,55,64,62,56,61,61,61,59,59,57
R39,64,60,57,58,55,55,57,60,59,62,...,59,62,57,56,63,57,58,62,55,63
R40,61,58,56,59,55,59,62,60,59,58,...,63,64,57,55,60,55,60,55,61,56
R41,58,61,62,62,58,58,62,57,60,64,...,62,60,62,62,56,57,60,64,63,63
R42,60,63,64,57,57,59,56,58,61,64,...,62,62,63,63,57,59,60,61,58,57
R43,58,64,59,60,56,62,57,59,58,62,...,58,57,55,60,58,63,58,63,58,63
R44,62,55,55,62,55,59,63,62,58,58,...,61,57,56,64,59,58,63,59,57,58
R45,64,62,62,64,62,58,60,60,59,62,...,62,57,56,60,63,57,57,57,57,64
R46,58,55,62,63,58,57,57,56,64,55,...,62,63,59,56,55,55,60,64,60,57
R47,58,57,63,56,55,59,56,61,58,58,...,58,61,61,57,63,63,63,55,55,55
R48,59,64,59,61,59,63,63,64,57,62,...,56,61,57,62,60,56,56,59,58,57
R49,57,60,58,63,64,56,60,60,56,63,...,57,60,64,64,55,62,55,57,60,56
R50,58,56,55,56,55,62,58,59,61,62,...,62,62,62,62,57,60,61,62,62,63
R51,62,56,55,55,60,59,60,64,61,59,...,62,55,63,56,57,62,61,63,62,59
R52,57,56,61,60,63,62,64,60,62,60,...,63,63,59,60,61,63,64,56,61,64
R53,57,57,57,57,59,60,55,57,59,59,...,63,55,55,63,63,63,62,63,59,55
R54,62,61,64,62,61,61,63,60,62,61,...,57,55,63,63,62,62,61,61,56,58
R55,59,64,62,64,56,55,59,59,59,62,...,57,59,62,59,57,60,64,61,55,63
R56,58,56,59,56,60,58,55,59,62,62,...,58,63,63,61,60,57,61,60,63,63
R57,63,55,62,64,55,58,59,60,55,62,...,60,63,59,57,61,58,62,56,58,56
R58,58,59,61,57,59,61,62,57,60,56,...,62,61,55,56,58,64,58,57,56,58

In [ ]:
PlanteMass=pd.Series([0.330,4.87,5.97,0.073,0.642,1898,568,86.8,102,0.0130],index=["MERCURY","VENUS","EARTH","MOON","MARS","JUPITER","SATURN","URANUS","NEPTUNE","PLUTO"]) 
PlanteDiameter=pd.Series([4879,12104,12756,3475,6792,142984,120536,51118,49528,2376],index=["MERCURY","VENUS","EARTH","MOON","MARS","JUPITER","SATURN","URANUS","NEPTUNE","PLUTO"])
PlanteDensity=pd.Series([5429,5243,5514,3340,3934,1326,687,1270,1638,1850],index=["MERCURY","VENUS","EARTH","MOON","MARS","JUPITER","SATURN","URANUS","NEPTUNE","PLUTO"])

In [ ]:
df03=pd.DataFrame({"Mass":PlanteMass,"Diameter":PlanteDiameter,"Density":PlanteDensity})    
df03

             Mass  Diameter  Density
MERCURY     0.330      4879     5429
VENUS       4.870     12104     5243
EARTH       5.970     12756     5514
MOON        0.073      3475     3340
MARS        0.642      6792     3934
JUPITER  1898.000    142984     1326
SATURN    568.000    120536      687
URANUS     86.800     51118     1270
NEPTUNE   102.000     49528     1638
PLUTO       0.013      2376     1850

In [ ]:
df03["Gravity"]=[0.378,0.907,1,0.166,0.377,2.36,0.916,0.889,1.12,0.071]

In [ ]:
df03["Dummy"]=1     
df03

             Mass  Diameter  Density  Gravity  Dummy
MERCURY     0.330      4879     5429    0.378      1
VENUS       4.870     12104     5243    0.907      1
EARTH       5.970     12756     5514    1.000      1
MOON        0.073      3475     3340    0.166      1
MARS        0.642      6792     3934    0.377      1
JUPITER  1898.000    142984     1326    2.360      1
SATURN    568.000    120536      687    0.916      1
URANUS     86.800     51118     1270    0.889      1
NEPTUNE   102.000     49528     1638    1.120      1
PLUTO       0.013      2376     1850    0.071      1

In [ ]:
df03.drop("Dummy",axis=True,inplace=True)    
#Here "Inplace=True" Means Update In Actual Data Frame
df03

             Mass  Diameter  Density  Gravity
MERCURY     0.330      4879     5429    0.378
VENUS       4.870     12104     5243    0.907
EARTH       5.970     12756     5514    1.000
MOON        0.073      3475     3340    0.166
MARS        0.642      6792     3934    0.377
JUPITER  1898.000    142984     1326    2.360
SATURN    568.000    120536      687    0.916
URANUS     86.800     51118     1270    0.889
NEPTUNE   102.000     49528     1638    1.120
PLUTO       0.013      2376     1850    0.071

In [ ]:
df03.loc["Mean"]=0     
df03

             Mass  Diameter  Density  Gravity
MERCURY     0.330      4879     5429    0.378
VENUS       4.870     12104     5243    0.907
EARTH       5.970     12756     5514    1.000
MOON        0.073      3475     3340    0.166
MARS        0.642      6792     3934    0.377
JUPITER  1898.000    142984     1326    2.360
SATURN    568.000    120536      687    0.916
URANUS     86.800     51118     1270    0.889
NEPTUNE   102.000     49528     1638    1.120
PLUTO       0.013      2376     1850    0.071
Mean        0.000         0        0    0.000

In [ ]:
df03.drop("Mean",inplace=True)    
#Here "Inplace=True" Means Update In Main DataFrame 
df03

             Mass  Diameter  Density  Gravity
MERCURY     0.330      4879     5429    0.378
VENUS       4.870     12104     5243    0.907
EARTH       5.970     12756     5514    1.000
MOON        0.073      3475     3340    0.166
MARS        0.642      6792     3934    0.377
JUPITER  1898.000    142984     1326    2.360
SATURN    568.000    120536      687    0.916
URANUS     86.800     51118     1270    0.889
NEPTUNE   102.000     49528     1638    1.120
PLUTO       0.013      2376     1850    0.071

In [ ]:
df03['Diameter']["Moon"]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df03

             Mass  Diameter  Density  Gravity
MERCURY     0.330      4879     5429    0.378
VENUS       4.870     12104     5243    0.907
EARTH       5.970     12756     5514    1.000
MOON        0.073      3475     3340    0.166
MARS        0.642      6792     3934    0.377
JUPITER  1898.000    142984     1326    2.360
SATURN    568.000    120536      687    0.916
URANUS     86.800     51118     1270    0.889
NEPTUNE   102.000     49528     1638    1.120
PLUTO       0.013      2376     1850    0.071

In [ ]:
#here I Calculated The Mean & medaian In Iterative Method
#Here I Calculated  The Mean Of Column
df03.loc["Mean of Column"]=[np.mean(df03["Mass"]),np.mean(df03["Diameter"]),np.mean(df03["Density"]),np.mean(df03["Gravity"])]
#Here I calculated The Median Of Column
df03.loc["Median of Colunm"]=[np.median(df03["Mass"]),np.median(df03["Diameter"]),np.median(df03["Density"]),np.median(df03["Gravity"])]

In [ ]:
df03

                       Mass  Diameter  Density  Gravity
MERCURY              0.3300    4879.0   5429.0   0.3780
VENUS                4.8700   12104.0   5243.0   0.9070
EARTH                5.9700   12756.0   5514.0   1.0000
MOON                 0.0730    3475.0   3340.0   0.1660
MARS                 0.6420    6792.0   3934.0   0.3770
JUPITER           1898.0000  142984.0   1326.0   2.3600
SATURN             568.0000  120536.0    687.0   0.9160
URANUS              86.8000   51118.0   1270.0   0.8890
NEPTUNE            102.0000   49528.0   1638.0   1.1200
PLUTO                0.0130    2376.0   1850.0   0.0710
Mean of Column     266.6698   40654.8   3023.1   0.8184
Median of Colunm     5.9700   12756.0   3023.1   0.8890

In [ ]:
df03.drop("Mean of Column",inplace=True)   
df03.drop("Median of Colunm",inplace=True)

In [ ]:
df03

             Mass  Diameter  Density  Gravity
MERCURY     0.330    4879.0   5429.0    0.378
VENUS       4.870   12104.0   5243.0    0.907
EARTH       5.970   12756.0   5514.0    1.000
MOON        0.073    3475.0   3340.0    0.166
MARS        0.642    6792.0   3934.0    0.377
JUPITER  1898.000  142984.0   1326.0    2.360
SATURN    568.000  120536.0    687.0    0.916
URANUS     86.800   51118.0   1270.0    0.889
NEPTUNE   102.000   49528.0   1638.0    1.120
PLUTO       0.013    2376.0   1850.0    0.071

Here I Calculated The Mean And Median Column Wise

In [ ]:
def ColumnMeanandMedian(df):                          
    df.loc["Mean Of column"]=df.mean()            
    df.loc["Median Of Column"]=df.median()        
    return df

In [ ]:
ColumnMeanandMedian(df03)

                       Mass  Diameter  Density  Gravity
MERCURY              0.3300    4879.0   5429.0   0.3780
VENUS                4.8700   12104.0   5243.0   0.9070
EARTH                5.9700   12756.0   5514.0   1.0000
MOON                 0.0730    3475.0   3340.0   0.1660
MARS                 0.6420    6792.0   3934.0   0.3770
JUPITER           1898.0000  142984.0   1326.0   2.3600
SATURN             568.0000  120536.0    687.0   0.9160
URANUS              86.8000   51118.0   1270.0   0.8890
NEPTUNE            102.0000   49528.0   1638.0   1.1200
PLUTO                0.0130    2376.0   1850.0   0.0710
Mean Of column     266.6698   40654.8   3023.1   0.8184
Median Of Column     5.9700   12756.0   3023.1   0.8890

Here I Calculated The Mean And Median Row Wise

In [ ]:
def RowMeanandMedian(df):                          
    df["Mean Of Row"]=df.mean(axis=1)           
    df["Median Of Row"]=df.median(axis=1)         
    return df

In [ ]:
RowMeanandMedian(df03)

,Mass,Diameter,Density,Gravity,Mean Of Row,Median Of Row
MERCURY,0.3300,4879.0,5429.0,0.3780,2577.17700,2577.17700
VENUS,4.8700,12104.0,5243.0,0.9070,4338.19425,4338.19425
EARTH,5.9700,12756.0,5514.0,1.0000,4569.24250,4569.24250
MOON,0.0730,3475.0,3340.0,0.1660,1703.80975,1703.80975
MARS,0.6420,6792.0,3934.0,0.3770,2681.75475,2681.75475
JUPITER,1898.0000,142984.0,1326.0,2.3600,36552.59000,1898.00000
SATURN,568.0000,120536.0,687.0,0.9160,30447.97900,687.00000
URANUS,86.8000,51118.0,1270.0,0.8890,13118.92225,1270.00000
NEPTUNE,102.0000,49528.0,1638.0,1.1200,12817.28000,1638.00000
PLUTO,0.0130,2376.0,1850.0,0.0710,1056.52100,1056.52100
Mean Of column,266.6698,40654.8,3023.1,0.8184,10986.34705,3023.10000
Median Of Column,5.9700,12756.0,3023.1,0.8890,3946.48975,3023.10000

In [ ]:
df03.min()

Mass                0.013
Diameter         2376.000
Density           687.000
Gravity             0.071
Mean Of Row      1056.521
Median Of Row     687.000
dtype: float64

In [ ]:
df03.max(axis=1)

MERCURY               5429.0
VENUS                12104.0
EARTH                12756.0
MOON                  3475.0
MARS                  6792.0
JUPITER             142984.0
SATURN              120536.0
URANUS               51118.0
NEPTUNE              49528.0
PLUTO                 2376.0
Mean Of column       40654.8
Median Of Column     12756.0
dtype: float64

In [ ]:
df03.quantile()

Mass                 5.970000
Diameter         12756.000000
Density           3023.100000
Gravity              0.889000
Mean Of Row       4453.718375
Median Of Row     2237.588500
Name: 0.5, dtype: float64

In [ ]:
df03.quantile(axis=1)

MERCURY             2577.17700
VENUS               4338.19425
EARTH               4569.24250
MOON                1703.80975
MARS                2681.75475
JUPITER             1898.00000
SATURN               687.00000
URANUS              1270.00000
NEPTUNE             1638.00000
PLUTO               1056.52100
Mean Of column      3023.10000
Median Of Column    3023.10000
Name: 0.5, dtype: float64

In [ ]:
def QuantileMeanandMedian(df):                        
    df.loc["Quantile Of column"]=df.quantile()             
    df["Quantile Of Row"]=df.quantile(axis=1)          
    return df

In [ ]:
QuantileMeanandMedian(df03)

,Mass,Diameter,Density,Gravity,Mean Of Row,Median Of Row,Quantile Of Row
MERCURY,0.3300,4879.0,5429.0,0.3780,2577.177000,2577.17700,2577.17700
VENUS,4.8700,12104.0,5243.0,0.9070,4338.194250,4338.19425,4338.19425
EARTH,5.9700,12756.0,5514.0,1.0000,4569.242500,4569.24250,4569.24250
MOON,0.0730,3475.0,3340.0,0.1660,1703.809750,1703.80975,1703.80975
MARS,0.6420,6792.0,3934.0,0.3770,2681.754750,2681.75475,2681.75475
JUPITER,1898.0000,142984.0,1326.0,2.3600,36552.590000,1898.00000,1898.00000
SATURN,568.0000,120536.0,687.0,0.9160,30447.979000,687.00000,687.00000
URANUS,86.8000,51118.0,1270.0,0.8890,13118.922250,1270.00000,1270.00000
NEPTUNE,102.0000,49528.0,1638.0,1.1200,12817.280000,1638.00000,1638.00000
PLUTO,0.0130,2376.0,1850.0,0.0710,1056.521000,1056.52100,1056.52100
Mean Of column,266.6698,40654.8,3023.1,0.8184,10986.347050,3023.10000,3023.10000
Median Of Column,5.9700,12756.0,3023.1,0.8890,3946.489750,3023.10000,3023.10000
Quantile Of column,5.9700,12756.0,3023.1,0.8890,4453.718375,2237.58850,2630.34425

###Characteristics Using Panda's Libaray

In [ ]:
df03.describe()

,Mass,Diameter,Density,Gravity,Mean Of Row,Median Of Row,Quantile Of Row
count,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,226.562138,36362.676923,3023.100000,0.829262,9942.309667,2361.806750,2392.018731
std,528.118907,45848.820236,1647.133745,0.570401,11284.861687,1179.351601,1180.933906
min,0.013000,2376.000000,687.000000,0.071000,1056.521000,687.000000,687.000000
25%,0.642000,6792.000000,1638.000000,0.378000,2681.754750,1638.000000,1638.000000
50%,5.970000,12756.000000,3023.100000,0.889000,4453.718375,2237.588500,2577.177000
75%,102.000000,49528.000000,3934.000000,0.916000,12817.280000,3023.100000,3023.100000
max,1898.000000,142984.000000,5514.000000,2.360000,36552.590000,4569.242500,4569.242500

In [ ]:
print ("The End  \n Thank You")

The End
 Thank You